#cart-container{
    padding: 10px;
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin: 2vh auto 0 auto;
    box-sizing: border-box;
    line-height: 2;
}

#cart-item-container{
    padding: 10px;
    display:block;
    justify-content: center;
    width: 65%;
    margin: 2vh 0;
    color: #141414;
    background-color: white;
    border-radius: 16px;
    border: 3px solid #141414;
    -webkit-box-shadow: 0 4px 14px -4px #000000;
    box-shadow: 0 4px 14px -4px #000000;
    box-sizing: border-box;
    line-height: 2;
}

#cart-details-container{
    padding: 10px;
    align-self: flex-start;
    display:block;
    justify-content: center;
    width: 30%;
    margin: 2vh 0;
    color: #141414;
    background-color: white;
    border-radius: 16px;
    border: 3px solid #141414;
    -webkit-box-shadow: 0 4px 14px -4px #000000;
    box-shadow: 0 4px 14px -4px #000000;
    box-sizing: border-box;
    line-height: 2;
}

.cart-item{
    height: fit-content;
    width: 100%;
    display: flex;
    margin: 1.5vh 0;
}

.cart-item-image{
    background-color: white;
    width: 30%;
    margin: auto auto;
    box-sizing: border-box;
    overflow: hidden;
}

.cart-item-image img{
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    transition: all 0.3s;
}

.cart-item-info{
    width: 60%;
    font-size: 13px;
}

.line{
    height: 2px;
    background-color: #141414;
    width: 80%;
    margin: 1.5vh auto;
}

.info-tile{
    font-family: 'Rubik Mono One', monospace;
    font-size: 2rem;
    color: #5761F1;
    line-height: 1.1;
    text-decoration: underline;
    margin: 0 auto;
    display: block;
}
.info-text{
    height: fit-content;
    margin: 0;
    font-size: 1.2rem;
    display: block;
}

.info-button{
    font-size: 1.4rem;
    color: white;
    font-weight: 900;
    background-color: #e5383b;
    border-radius: 16px;
    padding: 5px 10px;
    box-sizing: content-box;
    display: inline;
}

p.info-button a{
    color: white;
}

.cart-price{
    display: block;
    font-size: 1.6rem;
    margin: 0;
    font-weight: 900;
}

.order-button-container{
    margin: 1.2vh auto 1.2vh auto;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}

.order-button{
    width: fit-content;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: block;
    flex: 1 1 auto;
    font-size: 1.2rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 1vw  2vw 0 2vw;
    padding: 1rem 1.2rem;
    text-align: center;
    transition: all .2s,-webkit-box-shadow .2s;
    border: 3px solid var(--main);
}

.order-button:hover {
    background-color: var(--main);
    color: white;
    transition: all .2s,-webkit-box-shadow .2s;
}


@media all and (max-width: 1080px) and (min-width: 426px){
    #cart-container{
        display: block;
        width: 95%;
        margin: 2vh auto;
    }

}

@media screen and (max-width: 425px){
    #cart-container{
        display: block;
        width: 100%;
        margin: 2vh auto;
    }

    .cart-item-image{
        width: 80%;
    }

    .cart-item{
        display: block;
    }

    #cart-item-container{
        width: 100%;
    }

    #cart-details-container{
        width: 100%;
    }
}