.cart-container{
    padding: 25px;
    display: block;
    width: 60%;
    margin: 12vh auto 0 auto;
    color: #141414;
    background-color: white;
    border-radius: 16px;
    border: 3px solid #141414;
    -webkit-box-shadow: 0 4px 14px -4px #000000;
    box-shadow: 0 4px 14px -4px #000000;
    box-sizing: border-box;
    line-height: 2;
}