

span.info-header{
    text-decoration: underline;
    font-weight: bolder;
}

p.info-text{
    line-height: 1.6;
    margin: 0;
    font-size: 1.3rem;
}

.info-text-long{
    margin: 0;
    font-size: 1.3rem;
    display: block;
    line-height: 1.1
}

.section-title{
    font-size: 1.6rem;
    color: #e5383b;
    margin: 0;
    font-weight: 900;
    text-decoration: underline;
}

.color{
    width: 100px;
    display: inline-flex;
    height: 25px;
}

.button-info-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.back-info-button{
    width: fit-content;
    margin: 0 auto;
    background-color: #e5383b;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 10px;
    color: white;
    border: 0;
    font-family: monospace;
    font-weight: 800;
    font-size: 1.4rem;
}

@media screen and (max-width: 768px){
    #image-preview{
        padding: 0 !important;
        display: block;
        width: 100%;
    }
}